.emailconfirmmodaltitle {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 7.86rem;
    font-size: 2.5rem;
}
.emailconfirmmodaltitlegroup {
    position: absolute;
    top: 0.19rem;
    left: 5.61rem;
    width: 7.86rem;
    height: 3rem;
}
.emailconfirmmodalarrowgroup-icon {
    position: absolute;
    top: 0.63rem;
    left: 0;
    width: 2.06rem;
    height: 2rem;
    cursor: pointer;
}
.emailconfirmmodalweplilogo-icon {
    position: absolute;
    top: 0;
    left: 15.28rem;
    width: 3.22rem;
    height: 3.39rem;
    object-fit: cover;
}
.emailconfirmmodalheader {
    position: relative;
    width: 18.5rem;
    height: 3.39rem;
    font-size: 2.5rem;
    color: #000;
}
.emailconfirmmodalcentertext {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 18.5rem;
    text-align: center;
    border: none;
}
.emailconfirmmodaltextgroup {
    position: relative;
    width: 18.5rem;
    height: 0;
    font-size: 1.13rem;
    color: #000;
    font-family: "SF Pro Text";
    margin-bottom: 10px;
}
.emailconfirmmodalemailinput {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    background-color: #f4f4f5;
    width: 12.38rem;
    height: 4rem;
    border: none;
    outline: none;
}
.emailconfirmmodalemailinputgro {
    position: relative;
    width: 12.38rem;
    height: 4rem;
}

.emailconfirmemailbtntext {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    background-color: #d0e0f4;
    width: 4rem;
    height: 1.88rem;
    border: none;
    cursor: pointer;
}
.emailconfirmemailbtngroup {
    position: relative;
    width: 4rem;
    height: 1.88rem;
}

.emailconfirmmodalbtntext {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    background-color: #d0e0f4;
    border: none;
}
.emailconfirmmypagebtn {
    position: absolute;
    top: 0;
    left: 0;
    width: 18.5rem;
    height: 3.75rem;
}
.emailconfirmmodalbtnarrow-icon {
    position: absolute;
    top: 1.19rem;
    left: 15.75rem;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
}
.emailconfirmmodalbtngroup {
    position: relative;
    width: 18.5rem;
    height: 3.75rem;
    font-size: 1rem;
}
.emailconfirmmodalgroup {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    background-color: #fff;
    width: 22.88rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.69rem 2.19rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: 1.75rem;
    transform: translate(-50%, -50%);
}
.emailconfirmmodalframe {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    font-size: 0.63rem;
    color: #fff;
    font-family: Inter;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .emailconfirmmodalframe{
        height: 100%;
        width: 100%;
        margin-left: 70px;
    }

    .emailconfirmmodalgroup{
        margin-left: 30px;
    }
}