.findidsuccessmodaltitle {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 7.86rem;
}
.findidsuccessmodaltitlegroup {
    position: absolute;
    top: 0.19rem;
    left: 5.55rem;
    width: 7.86rem;
    height: 3rem;
}
.findidsuccessmodalarrowgroup-icon {
    position: absolute;
    top: 0.63rem;
    left: 0;
    width: 2.06rem;
    height: 2rem;
}
.findidsuccessmodalweplilogo-icon {
    position: absolute;
    top: 0;
    left: 15.28rem;
    width: 3.22rem;
    height: 3.39rem;
    object-fit: cover;
}
.findidsuccessmodalheader {
    position: relative;
    width: 18.5rem;
    height: 3.39rem;
}
.findidsuccessmodalcentertext {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 18.5rem;
    text-align: center;
}
.findidsuccessmodaltextgroup {
    position: relative;
    width: 18.5rem;
    height: 50px;
    font-size: 1.13rem;
    font-family: "SF Pro Text";
}
.findidsuccessmodalphoneinput {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    background-color: #f4f4f5;
    width: 18.5rem;
    height: 4rem;
}
.findidsuccessmodalphoneinputgr {
    position: relative;
    width: 18.5rem;
    height: 4rem;
}
.findidsuccessmodalbtnrectangle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    background-color: #d0e0f4;
}
.findidsuccessmodalbtntext {
    position: absolute;
    top: 35.94%;
    left: 44.93%;
    font-weight: 600;
}
.findidsuccessmypagebtn {
    position: absolute;
    top: 0;
    left: 0;
    width: 18.5rem;
    height: 3.75rem;
}
.findidsuccessmodalbtnarrow-icon {
    position: absolute;
    top: 1.19rem;
    left: 15.75rem;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
}
.findidsuccessmodalbtngroup {
    position: relative;
    width: 18.5rem;
    height: 3.75rem;
    font-size: 1rem;
    color: #fff;
}
.findidsuccessmodalgroup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: #fff;
    width: 22.88rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.69rem 2.19rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: 1.75rem;
    z-index: 9999;
}
.findidsuccessmodalframe {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    font-size: 0.75rem;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
z-index: 999;
    animation: fadeIn 0.4s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}