@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400&display=swap");

.signupmodaltitle {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    display: inline-block;
    width: 7.86rem;
}
.signupmodaltitlegroup {
    position: absolute;
    top: 0.19rem;
    left: 5.61rem;
    width: 7.86rem;
    height: 3rem;
}
.signupmodalarrowgroup-icon {
    position: absolute;
    top: 0.63rem;
    left: 0;
    width: 2.06rem;
    height: 2rem;
}
.signupmodalweplilogo-icon {
    position: absolute;
    top: 0;
    left: 15.28rem;
    width: 3.22rem;
    height: 3.39rem;
    object-fit: cover;
}
.signupmodalheader {
    position: relative;
    width: 18.5rem;
    height: 3.39rem;
    font-size: 2.5rem;
    color: #000;
}
.signupcentertext {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 18.5rem;
    text-align: center;
}
.signupcentertextgroup {
    position: relative;
    width: 18.5rem;
    height: 0;
    font-size: 1.13rem;
    color: #000;
    font-family: "SF Pro Text";
    margin-bottom: 1vh;
}

.signupduplicationinputemail {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    background-color: #f4f4f5;
    width: 18.5rem;
    height: 4rem;
    border: none;
    outline: none;
    padding-left: 10px;
}

.signupduplicationemailnbtn,
.signuemailduplicationbtn {
    background-color: #d0e0f4;
    /* width: 4rem; */
    height: 1.88rem;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

.signupemailbtngroup {
    position: absolute;
    top: 1.2rem;
    left: 13.75rem;
    /* width: 4rem; */
    height: 1.88rem;
}
.signupinputemailgroup {
    position: relative;
    width: 18.5rem;
    height: 4rem;
}
.signupmodalbottombtnrectangle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    background-color: #d0e0f4;

}
.signupmodalbottombtntext {
    background-color: #d0e0f4;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: black;
}

.signupmodalbottombtn {
    position: absolute;
    top: 0;
    left: 0;
    width: 18.5rem;
    height: 3.75rem;
}
.signupmodalbottomarrow-icon {
    position: absolute;
    top: 1.19rem;
    left: 15.75rem;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
}
.signupmodalbottombtngroup {
    position: relative;
    width: 18.5rem;
    height: 3.75rem;
    font-size: 1rem;

}
.signupmodalgroup {
    position: fixed;
    border-radius: 30px;
    background-color: #fff;
    width: 22.88rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.69rem 2.19rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: 1.75rem;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signupmodalframe {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    font-size: 0.63rem;
    color: #fff;
    font-family: Inter;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.4s ease-in-out;
    z-index: 999;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.signupmodalarrowgroup-icon{
    cursor: pointer;
}