.mainsection4{
    width: 100vw;
    height: 120vh;
    background: white;
    cursor: none;
}


.bluetube{
    width: 20vw;
}

.bluetubegroup{
    display: inline-block;
    left: 12%;
    top: 10%;
    position: relative;
}

.bluetubetextgroup{
    /*border: 1px solid yellow;*/
    width: 33vw;
    left: 24%;
    position: relative;
    font-size: 84px;
    top: -15%;
    font-family: 'SUIT1', serif;
}

.bluetubetext1{
    width: 16vw;
    height: 10vh;
    position: relative;
    left: 26%;
    font-size: 42px;
    font-weight: lighter;
}


.bluetubegroup1{
    top: 20%;
    position: relative;
    float: right;
    right: 10%;
    border: 1px solid red;
    margin-right: 300px;
}

.bluetube1{
    width: 20vw;
    position: absolute;
}

.bluetubetext11{
    font-family: 'SUIT1', serif;
    float: right;
    right: 2%;
    margin-top: 100px;
    font-size: 84px;
    position: relative;
}

.bluetubetext1-1{
    font-family: 'SUIT1', serif;
    width: 19vw;
    font-size: 42px;
    float: right;
    margin-top: 210px;
    position: relative;
    right: -5%;
    text-align: right;
}

.mainsectiongroup2{
    position: relative;
    bottom: 15%;
}

@media (max-width: 768px) {
    .bluetubetext1-1{
        margin-right: 50px;
    }
}